In [1]:
# Ingest the data
import pandas as pd

In [5]:
data = pd.read_csv(r"E:\iNeuron\Full_Stack_Data_Science_Masters\09_Machine_Learning\48_ML_End_to_End_Implementation\notebooks\data\gemstone.csv")
# if we get error loading dataset use r before file path as implemented above

In [6]:
# Ordinal Data - Best type will have high weightage
data.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [7]:
data.tail()

,id,carat,cut,color,clarity,depth,table,x,y,z,price
193568,193568,0.31,Ideal,D,VVS2,61.1,56.0,4.35,4.39,2.67,1130
193569,193569,0.70,Premium,G,VVS2,60.3,58.0,5.75,5.77,3.47,2874
193570,193570,0.73,Very Good,F,SI1,63.1,57.0,5.72,5.75,3.62,3036
193571,193571,0.34,Very Good,D,SI1,62.9,55.0,4.45,4.49,2.81,681
193572,193572,0.71,Good,E,SI2,60.8,64.0,5.73,5.71,3.48,2258

In [8]:
# collecting random samples
data.sample(5)

,id,carat,cut,color,clarity,depth,table,x,y,z,price
47614,47614,0.31,Good,D,SI1,63.3,58.0,4.28,4.33,2.73,492
68319,68319,1.03,Ideal,I,VS1,61.8,54.0,6.52,6.57,4.03,5031
134659,134659,1.05,Premium,G,VS1,62.6,58.0,6.51,6.45,4.05,6621
124727,124727,0.73,Ideal,I,SI1,62.5,58.0,5.77,5.74,3.59,2415
160573,160573,0.26,Ideal,H,VVS2,61.9,55.0,4.11,4.14,2.55,545

In [9]:
data.isnull().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [11]:
# From above observations, there is no missing values
data.drop(labels=["id"],axis=1)
# "['id'] not found in axis" when this error comes mention axis to resolve the error

        carat        cut color clarity  depth  table     x     y     z  price
0        1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1        2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2        0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3        0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4        1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453
...       ...        ...   ...     ...    ...    ...   ...   ...   ...    ...
193568   0.31      Ideal     D    VVS2   61.1   56.0  4.35  4.39  2.67   1130
193569   0.70    Premium     G    VVS2   60.3   58.0  5.75  5.77  3.47   2874
193570   0.73  Very Good     F     SI1   63.1   57.0  5.72  5.75  3.62   3036
193571   0.34  Very Good     D     SI1   62.9   55.0  4.45  4.49  2.81    681
193572   0.71       Good     E     SI2   60.8   64.0  5.73  5.71  3.48   2258

[193573 rows x 10 columns]